#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h> // &kp, &mt, &lt, &none
#include <dt-bindings/zmk/bt.h> // &bt BT_SEL, &bt BT_CLR
#include <dt-bindings/zmk/pointing.h> // &mmv, &mkp
#include <dt-bindings/zmk/outputs.h> // &out: Toggle between USB and BLE


// Layer definitions
#define _QWERTY 0
#define _NAVIGATION 1
#define _MOUSE 2
#define _MEDIA 3
#define _NUMBER 4
#define _SYMBOLS 5
#define _FUNCTION_KEYS 6
#define _BLUETOOTH 7
#define _GAMING 8
#define _GAMING_UTIL 9

// Tapping configuration
#define TAPPING_TERM 300
#define QUICK_TAP 175
#define PRIOR_IDLE 150

&caps_word {
    // Define custom behavior for Caps Word to continue on specific keys
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

&lt {
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP>;
    require-prior-idle-ms = <PRIOR_IDLE>;  // Critical for fast typing/roll-over
};

/ {
    combos {
        compatible = "zmk,combos";

        // Left bracket [ - at S position (A+S)
        combo_lbkt {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp LBKT>;
        };

        // Left brace { - at D position (S+D)
        combo_lbrc {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LBRC>;
        };

        // Left paren ( - at F position (D+F)
        combo_lpar {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LPAR>;
        };

        // Right bracket ] - at X position (Z+X)
        combo_rbkt {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp RBKT>;
        };

        // Right brace } - at C position (X+C)
        combo_rbrc {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp RBRC>;
        };

        // Right paren ) - at V position (C+V)
        combo_rpar {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp RPAR>;
        };

        // Equal = - at T position (R+T)
        combo_equal {
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&kp EQUAL>;
        };

        // Plus + - at G position (F+G)
        combo_plus {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp PLUS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*  fat_cruiser v2 layout
         * ┌───┬───┬───┬───┬───┐   ┌───┬───┬───┬───┬───┐
         * │ Q │ W │ E │ R │ T │   │ Y │ U │ I │ O │ P │
         * ├───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┤
         * │ A │ S │ D │ F │ G │   │ H │ J │ K │ L │ ; │
         * ├───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┤
         * │ Z │ X │ C │ V │ B │   │ N │ M │ , │ . │ / │
         * └───┴───┼───┼───┼───┤   ├───┼───┼───┼───┴───┘
         *         │Esc│Bsc│Spc│   │Ent│Tab│Del│
         *         └───┴───┴───┘   └───┴───┴───┘
         */
         // Look up timeless home row mods: https://zmk.dev/docs/keymaps/behaviors/hold-tap?examples=home_row_mods
        default_layer {
            display-name = "BASE";
            bindings = <
&kp Q       &kp W      &kp E        &kp R        &kp T                 /**/ &kp Y        &kp U        &kp I       &kp O        &kp P
&mt LMETA A &mt LALT S &mt LCTRL D  &mt LSHIFT F &kp G                 /**/ &kp H        &mt LSHIFT J &mt LCTRL K &mt LALT L   &mt LGUI SEMICOLON
&kp Z       &mt RALT X &kp C        &kp V        &kp B                 /**/ &kp N        &kp M        &kp COMMA   &mt RALT DOT &kp SLASH
                       &lt _MEDIA ESC      &lt _MOUSE BSPC     &lt _NAVIGATION SPACE /**/ &lt _NUMBER ENTER    &lt _SYMBOLS TAB      &lt _FUNCTION_KEYS DEL
            >;
        };

        navigation_layer {
            display-name = "NAVIGATION";
            bindings = <
&none        &none        &none        &none        &none   /**/ &caps_word    &none    &none        &none        &none
&kp LMETA    &kp LALT     &kp LCTRL    &kp LSHIFT   &none   /**/ &kp CAPS     &kp LEFT &kp DOWN     &kp UP       &kp RIGHT
&none        &kp RALT     &kp LC(C)    &kp LC(V)    &none   /**/ &kp INS      &kp HOME &kp PG_DN    &kp PG_UP    &kp END
                          &none        &none        &none   /**/ &kp ENTER    &kp TAB  &kp DEL
            >;
        };

       /*  // https://zmk.dev/docs/keymaps/behaviors/mouse-emulation */
        mouse_layer {
            display-name = "MOUSE";
            bindings = <
&none        &none        &none        &none        &none   /**/ &none        &none    &none        &none        &none
&kp LMETA    &kp LALT     &kp LCTRL    &kp LSHIFT   &none   /**/ &none      &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT
&none        &kp RALT     &none        &none        &none   /**/ &none      &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT
                          &none        &none        &none   /**/ &mkp LCLK  &mkp RCLK &mkp MCLK
            >;
        };

        media_layer {
            display-name = "MEDIA";
            bindings = <
&none        &none        &none        &none        &none   /**/ &none              &none      &none        &none        &none
&kp LMETA    &kp LALT     &kp LCTRL    &kp LSHIFT   &none   /**/ &none             &kp C_PREV  &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT
&none        &kp RALT     &none        &none        &none   /**/ &none             &kp RA(W)   &kp RA(Q)    &kp RA(P)    &none
                          &none        &none        &none   /**/ &kp C_PLAY_PAUSE  &kp C_PAUSE &kp C_MUTE
            >;
        };

        number_layer {
            display-name = "NUMBER";
            bindings = <
&kp ASTERISK     &kp N7 &kp N8 &kp N9        &kp EQUAL /**/ &none &none      &none     &none        &none
&kp SINGLE_QUOTE &kp N4 &kp N5 &kp N6        &kp PLUS  /**/ &none &kp LSHIFT &kp LCTRL &kp LALT     &kp LGUI
&kp GRAVE        &kp N1 &kp N2 &kp N3        &kp N0    /**/ &none &none      &none     &kp RALT     &none
                        &none  &kp BACKSLASH &kp MINUS /**/ &none &none      &none
            >;
        };

        symbols_layer {
            display-name = "SYMBOL";
            bindings = <
&kp EXCLAMATION   &kp AT   &kp HASH &kp DOLLAR &kp PERCENT /**/ &none &none      &none     &none        &none
&kp DOUBLE_QUOTES &kp LBKT &kp LBRC &kp LPAR   &kp CARET   /**/ &none &kp LSHIFT &kp LCTRL &kp LALT     &kp LGUI
&kp TILDE         &kp RBKT &kp RBRC &kp RPAR   &kp AMPS    /**/ &none &none      &none     &kp RALT     &none
                           &none    &kp PIPE   &kp UNDER   /**/ &none &none      &none
            >;
        };

        function_keys_layer {
            display-name = "FUNCTION";
            bindings = <
&kp F12 &kp F7 &kp F8          &kp F9 &kp PRINTSCREEN /**/ &none &none      &none     &none        &none
&kp F11 &kp F4 &kp F5          &kp F6 &kp SCROLLLOCK  /**/ &none &kp LSHIFT &kp LCTRL &kp LALT     &kp LGUI
&kp F10 &kp F1 &kp F2          &kp F3 &kp PAUSE_BREAK /**/ &none &none      &none     &kp RALT     &none
               &sl _BLUETOOTH  &none  &none           /**/ &none &none      &none
            >;
        };

        bluetooth_layer {
            display-name = "BLUETOOTH";
            bindings = <
&to _QWERTY    &bt BT_CLR   &bt BT_PRV &bt BT_NXT     &out OUT_TOG /**/ &none &none         &none         &none         &none
&none          &bt BT_SEL 3 &bt BT_SEL 4 &none        &none        /**/ &none &bt BT_DISC 3 &bt BT_DISC 4 &none         &none
&none          &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none        /**/ &none &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &none
                            &none        &none        &none        /**/ &none &none         &none
            >;
        };


       /**/
       /*  gaming_layer { */
       /*      display-name = "GAME"; */
       /*      bindings = < */
       /*          &none     &none     &none       &none       &none */
       /*          &none     &none     &none       &none       &none */
       /*      >; */
       /*  }; */
       /**/
       /*  gaming_util_layer { */
       /*      display-name = "G-UTIL"; */
       /*      bindings = < */
       /*          &none     &none     &none       &none       &none */
       /*          &none     &none     &none       &none       &none */
       /*      >; */
       /*  }; */
       /**/
       /*  bluetooth_layer { */
       /*      display-name = "BT"; */
       /*      bindings = < */
       /*          &bt BT_CLR_ALL     &bt BT_CLR     &none     &none     &out OUT_TOG */
       /*          &bt BT_SEL 0 &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4 */
       /*      >; */
       /*  }; */
    };
};
