#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h> // &kp, &mt, &lt, &none
#include <dt-bindings/zmk/bt.h> // &bt BT_SEL, &bt BT_CLR
#include <dt-bindings/zmk/pointing.h> // &mmv, &mkp
#include <dt-bindings/zmk/outputs.h> // &out: Toggle between USB and BLE


#define _QWERTY 0
#define _NAVIGATION 1
#define _MOUSE 2
#define _MEDIA 3
#define _NUMBER 4
#define _SYMBOLS 5
#define _FUNCTION_KEYS 6
#define _GAMING 7
#define _GAMING_UTIL 8
#define _BLUETOOTH 9

// Define custom behavior for Caps Word to continue on specific keys
&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        /*  fat_cruiser v2 layout
         * ┌───┬───┬───┬───┬───┐   ┌───┬───┬───┬───┬───┐
         * │ Q │ W │ E │ R │ T │   │ Y │ U │ I │ O │ P │
         * ├───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┤
         * │ A │ S │ D │ F │ G │   │ H │ J │ K │ L │ ; │
         * ├───┼───┼───┼───┼───┤   ├───┼───┼───┼───┼───┤
         * │ Z │ X │ C │ V │ B │   │ N │ M │ , │ . │ / │
         * └───┴───┼───┼───┼───┤   ├───┼───┼───┼───┴───┘
         *         │Esc│Bsc│Spc│   │Ent│Tab│Del│
         *         └───┴───┴───┘   └───┴───┴───┘
         */
         // Look up timeless home row mods: https://zmk.dev/docs/keymaps/behaviors/hold-tap?examples=home_row_mods
        default_layer {
            display-name = "BASE";
            bindings = <
    &kp Q       &kp W      &kp E        &kp R        &kp T   /**/ &kp Y        &kp U        &kp I       &kp O        &kp P
    &mt LMETA A &mt LALT S &mt LCTRL D  &mt LSHIFT F &kp G   /**/ &kp H        &mt RSHIFT J &mt RCTRL K &mt RALT L   &mt RGUI SEMICOLON
    &kp Z       &mt RALT X &kp C        &kp V        &kp B   /**/ &kp N        &kp M        &kp COMMA   &mt RALT DOT &kp SLASH
                           &kp ESC      &kp BSPC     &kp SPC /**/ &kp ENTER    &kp TAB      &kp DEL
            >;
        };

       /*  navigation_layer { */
       /*      display-name = "NAV"; */
       /*      bindings = < */
       /*          &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &kp BSPC */
       /*          &none    &kp LC(X) &kp LC(C) &kp LC(V) &none */
       /*      >; */
       /*  }; */
       /**/
       /*  // https://zmk.dev/docs/keymaps/behaviors/mouse-emulation */
       /*  mouse_layer { */
       /*      display-name = "MOUSE"; */
       /*      bindings = < */
       /*          &mmv MOVE_LEFT  &mmv MOVE_DOWN &mmv MOVE_UP   &mmv MOVE_RIGHT &msc SCRL_DOWN */
       /*          &mkp MB1        &mkp MB2       &none          &none           &none */
       /*      >; */
       /*  }; */
       /**/
       /*  media_layer { */
       /*      display-name = "MEDIA"; */
       /*      bindings = < */
       /*          &none     &none     &none       &none       &none */
       /*          &none     &none     &none       &none       &none */
       /*      >; */
       /*  }; */
       /**/
       /*  number_layer { */
       /*      display-name = "NUM"; */
       /*      bindings = < */
       /*          &none     &none     &none       &none       &none */
       /*          &none     &none     &none       &none       &none */
       /*      >; */
       /*  }; */
       /**/
       /*  symbols_layer { */
       /*      display-name = "SYM"; */
       /*      bindings = < */
       /*          &none     &none     &none       &none       &none */
       /*          &none     &none     &none       &none       &none */
       /*      >; */
       /*  }; */
       /**/
       /* function_keys_layer { */
       /*      display-name = "FUNC"; */
       /*      bindings = < */
       /*          &none     &none     &none       &none       &none */
       /*          &none     &none     &none       &none       &none */
       /*      >; */
       /*  }; */
       /**/
       /*  gaming_layer { */
       /*      display-name = "GAME"; */
       /*      bindings = < */
       /*          &none     &none     &none       &none       &none */
       /*          &none     &none     &none       &none       &none */
       /*      >; */
       /*  }; */
       /**/
       /*  gaming_util_layer { */
       /*      display-name = "G-UTIL"; */
       /*      bindings = < */
       /*          &none     &none     &none       &none       &none */
       /*          &none     &none     &none       &none       &none */
       /*      >; */
       /*  }; */
       /**/
       /*  bluetooth_layer { */
       /*      display-name = "BT"; */
       /*      bindings = < */
       /*          &bt BT_CLR_ALL     &bt BT_CLR     &none     &none     &out OUT_TOG */
       /*          &bt BT_SEL 0 &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4 */
       /*      >; */
       /*  }; */
    };
};
